<div id="container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input [ngModel]="(character | async)?.name" (ngModelChange)="update({name: $event})" matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Alias</mat-label>
        <input [ngModel]="(character | async)?.alias" (ngModelChange)="update({alias: $event})" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" id="look">
        <mat-label>Look</mat-label>
        <input [ngModel]="(character | async)?.look" (ngModelChange)="update({look: $event})" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Heritage</mat-label>
        <input [ngModel]="(character | async)?.heritage" (ngModelChange)="update({heritage: $event})" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Background</mat-label>
        <input [ngModel]="(character | async)?.background" (ngModelChange)="update({background: $event})" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" id="vice">
        <mat-label>Vice</mat-label>
        <input [ngModel]="(character | async)?.vice" (ngModelChange)="update({vice: $event})" matInput>
    </mat-form-field>

    <span class="boxes">
        <mat-label>Stress</mat-label>
        <app-checkboxes [max]="8" [ngModel]="(character | async)?.stress" (ngModelChange)="update({stress: $event})"></app-checkboxes>
    </span>

    <span class="boxes">
        Trauma
        <app-checkboxes [max]="4" [ngModel]="(character | async)?.trauma" (ngModelChange)="update({trauma: $event})"></app-checkboxes>
    </span>

    <!--
    <span id="harm">
        Harm
        <mat-form-field appearance="fill">
            <mat-label>Harm 3</mat-label>
            <input [ngModel]="(character | async)?.harm3" (ngModelChange)="update({harm3: $event})" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Harm 2</mat-label>
            <input [ngModel]="(character | async)?.harm1a" (ngModelChange)="update({harm3: $event})" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Harm 2</mat-label>
            <input [ngModel]="(character | async)?.harm2a" (ngModelChange)="update({harm3: $event})" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Harm 1</mat-label>
            <input [ngModel]="(character | async)?.harm1a" (ngModelChange)="update({harm3: $event})" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Harm 1</mat-label>
            <input [ngModel]="(character | async)?.harm1b" (ngModelChange)="update({harm3: $event})" matInput>
        </mat-form-field>
    </span>
    -->

    <span id="armor">
        Armor uses
        <mat-checkbox>Armor</mat-checkbox>
        <mat-checkbox>Heavy</mat-checkbox>
        <mat-checkbox>Special</mat-checkbox>
    </span>

   <span id="healing">
    Healing
    <app-clock [segments]="4" size="50px"></app-clock>
   </span>

   <span>
       <mat-form-field>
         <mat-label>Load</mat-label>
         <mat-select [ngModel]="(character | async)?.load" (ngModelChange)="update({load: $event})">
           <mat-option [value]="3">3 light</mat-option>
           <mat-option [value]="5">5 normal</mat-option>
           <mat-option [value]="8">8 heavy</mat-option>
         </mat-select>
       </mat-form-field>

        <span id="items">
          <span *ngFor="let item of items">
            <mat-checkbox *ngFor="let extraBox of extraBoxes(item)" [(ngModel)]="item.value"></mat-checkbox>
            <mat-checkbox [(ngModel)]="item.value">{{item.name}}</mat-checkbox>
          </span>
        </span>
    </span>



</div>
