#container {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 200px 200px;
  margin-left: 20px;
  margin-top: 20px;
}

#look {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

#vice {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.boxes {
  display: flex;
  flex-direction: column;
}

#armor {
  display: flex;
  flex-direction: column;
}

#items {
  display: flex;
  flex-direction: column;
}

#healing {
  display: flex;
  user-select: none;
  flex-direction: column;
}

mat-checkbox {
  margin-right: 5px;
}
