<div id="container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Alias</mat-label>
        <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Look</mat-label>
        <input matInput>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <mat-label>Heritage</mat-label>
        <input matInput>
    </mat-form-field>

    <br>

    Stress
    <app-checkboxes></app-checkboxes>

    <br>

    Trauma
    <app-checkboxes></app-checkboxes>
</div>
